* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    background-color:rgb(31, 31, 31);
}

#calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 13px;
}

.button {
    padding: 0;
    height: 50px;
    width: 60px;
    font-size: 25px;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: black;
}

#resultado {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 0;
    width: 270px;
    height: 50px;
    font-size: 25px;
    text-align: right;
    background-color:black;
    margin: 3px;
    margin-left: 6px;
}

h1  {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#buttonAC {
    background-color:rgb(165, 0, 0);   
}

#buttonc:hover {
    background-color:rgb(121, 3, 3);
}

.buttonEspecial {
    height: 50px;
    width: 60px;
    font-size: 25px;
    margin: 3px;
    background-color: rgb(11, 87, 90);
    border: none;
    color: white;
}

.buttonEspecial:hover {
    cursor: pointer;
    background-color: rgb(9, 55, 56);
}